body{
  background: rgb(116, 138, 180);
}
.timer{
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(133, 191, 193);
  color: rgb(28, 76, 166);
  padding: 2rem 6rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}
